body {
    background-color: #121414;
    color: white;
}

.navbar--logo {
    padding: 0.5rem;
}

.navbar--title {
    padding: 0.5rem;
}

.presale--logo {
    width: 400px;
    height: auto;
    float: left;
}
