body {
    background-color: #121414;
    color: white;
}

.navbar--logo {
    padding: 0.5rem;
}

.link--text {
    text-decoration: none;
    color: white;
    font-size: large;
}

.link--text--mobile {
    text-decoration: none;
    color: black;
    font-size: large;
}